/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

@font-face {
    font-family: "Rowdies-Regular";
    src: url(../Fonts/Rowdies/Rowdies-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat-Italic";
    src: url(../Fonts/Montserrat/static/Montserrat-LightItalic.ttf);
}